<div class="login_body">
    <div class="login_title_wrapper">
        <h1>Életbiztosítás bejelentkezés</h1>
    </div>
    <div class="login_form_wrapper">
        <form>
            <mat-form-field>
                <mat-label for="email">E-mail</mat-label>
                <input matInput type="email" [formControl]='email'>
            </mat-form-field>
            <mat-form-field>
                <mat-label for="password">Jelszó</mat-label>
                <input matInput type="password" [formControl]='password'>
            </mat-form-field>
            <span>
                <button (click)="login()">Login</button>
            </span>
        </form>
    </div>
</div>
