.registration_body{
    min-height: 850px;
    padding: 0;
    margin: 0;
}

.registration_title_wrapper{
    padding: 5px;
    width: fit-content;
    margin: auto;
}


.registration_form_wrapper{
    padding: 5px;
    width: fit-content;
    margin: auto;
}

form{
    display: inline-grid;
}

button{
    margin: 5px;
}